/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/views/agenda.blade.php
/resources/views/producto.blade.php
/Htpp/Controllers/AgendaController.php
/Htpp/Controllers/ProductoController.php
/Htpp/Models/Producto.php
/Htpp/Models/Agenda.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
